<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Field Form</title>
    <th:block th:insert="fragments/header.html::headerfiles"/>
</head>
<body>
<div class="container">
    <h3 class="mt-3">Field of Study</h3>
    <hr>

    <p>Save Field of Study</p>

    <form action="#" th:action="@{/fields/save}" th:object="${fieldOfStudy}" method="POST">
        <input type="hidden" th:field="*{id}">
        <div class="row justify-content-center align-items-center mx-2 mx-md-0">
            <p class="validationError col-12 text-center mb-0" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">TEST</p>
            <label for="fieldName" class="mb-1 mb-md-4 mx-2 col-12 col-md-2">Field name</label>
            <input id="fieldName" type="text" th:field="*{name}" class="form-control mb-4 col-12 col-md-4" placeholder="Field name"/>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="save-button btn btn-success col-3 col-md-2">Save</button>
        </div>
    </form>

    <hr>
    <a th:href="@{/fields/list}">Back to Field List</a>

</div>


</body>
</html>