<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject Form</title>
    <th:block th:insert="fragments/header.html::headerfiles"/>
</head>
<body>
<div class="container">
    <h3 class="mt-3">Subject</h3>
    <hr>

    <p>Save Subject</p>

    <form action="#" th:action="@{/subjects/save}" th:object="${subject}" method="POST">
        <input type="hidden" th:field="*{id}" class="form-control mb-4 col-4"/>
        <div class="row justify-content-center align-items-center mx-2 mx-md-0">
            <p class="validationError col-12 text-center mb-0" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            <label for="name" class="mb-1 mb-md-4 mx-2 col-12 col-md-2">Name</label>
            <input id="name" type="text" th:field="*{name}" class="form-control mb-4 col-12 col-md-4" placeholder="Name"/>
        </div>
        <div class="row justify-content-center align-items-center mx-2 mx-md-0">
            <p class="validationError col-12 text-center mb-0" th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}"></p>
            <label for="hours" class="mb-1 mb-md-4 mx-2 col-12 col-md-2">Hours</label>
            <input id="hours" type="text" th:field="*{hours}" class="form-control mb-4 col-12 col-md-4" placeholder="Hours"/>
        </div>
        <div class="row justify-content-center align-items-center mx-2 mx-md-0">
            <p class="validationError col-12 text-center mb-0" th:if="${#fields.hasErrors('ECTS')}" th:errors="*{ECTS}"></p>
            <label for="ects" class="mb-1 mb-md-4 mx-2 col-12 col-md-2">ECTS</label>
            <input id="ects" type="text" th:field="*{ECTS}" class="form-control mb-4 col-12 col-md-4" placeholder="ECTS"/>
        </div>
        <div class="row justify-content-center align-items-center mx-2 mx-md-0">
            <p class="validationError col-12 text-center mb-0" th:if="${#fields.hasErrors('semester')}" th:errors="*{semester}"></p>
            <label for="semester" class="mb-1 mb-md-4 mx-2 col-12 col-md-2">Semester</label>
            <input id="semester" type="text" th:field="*{semester}" class="form-control mb-4 col-12 col-md-4" placeholder="Semester"/>
        </div>
        <div class="row justify-content-center align-items-center mx-2 mx-md-0">
            <p class="validationError col-12 text-center mb-0" th:if="${#fields.hasErrors('specialization')}" th:errors="*{specialization}"></p>
            <label for="specId" class="mb-1 mb-md-4 mx-2 col-12 col-md-2">Specialization</label>
            <select class="form-control mb-4 col-12 col-md-4" id="specId" name="specId" th:field="*{specialization}">
                <option
                        th:each="spec: ${specs}"
                        th:value="${spec.id}"
                        th:text="${spec.specKind.name}"
                        th:selected="${subject.specialization eq null or spec.specKind.id != subject.specialization.specKind.id} ? false : true">
                </option>
            </select>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-success col-3 col-md-2">Save</button>
        </div>
    </form>

    <hr>
    <a th:href="@{/subjects/list}">Back to Subject List</a>

</div>


</body>
</html>