<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Role Form</title>
    <th:block th:insert="fragments/header.html::headerfiles"/>
</head>
<body>
<div class="container">
    <h3 class="mt-3">Role</h3>
    <hr>

    <p>Save Role</p>

    <form action="#" th:action="@{/admin/roles/save}" th:object="${role}" method="POST">
        <input type="hidden" th:field="*{id}" class="form-control mb-4 col-4"/>
        <div class="row justify-content-center align-items-center mx-2 mx-md-0">
            <p class="validationError col-12 text-center mb-0" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            <label for="firstName" class="mb-1 mb-md-4 mx-2 col-12 col-md-2">Name</label>
            <input id="firstName" type="text" th:field="*{name}" class="form-control mb-4 col-12 col-md-4" placeholder="Name"/>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-success col-3 col-md-2">Save</button>
        </div>
    </form>

    <hr>
    <a th:href="@{/admin/roles/list}">Back to Roles List</a>

</div>


</body>
</html>