<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Easy Session App</title>
    <th:block th:insert="fragments/header.html::headerfiles"/>
    <script src="https://kit.fontawesome.com/97d6dfb374.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="text-center">
                    Oops!</h1>
                <h2 class="text-center">
                    Error</h2>
                <div class="error-details text-center">
                    Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.
                </div>
                <div class="error-actions row justify-content-center">
                    <a th:href="@{/}" class="btn btn-primary btn-lg"><i class="fas fa-home"></i>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/fragments/footer.html :: footer"> </div>
</div>
</body>
</html>