<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Specialization form</title>
    <th:block th:insert="/fragments/header.html :: headerfiles"/>
</head>
<body>
<div class="container">
    <h3>Specialization</h3>
    <hr>

    <p>Select Specialization</p>

    <form th:action="@{/specs/showFormForSelectSpec}" method="GET">
        <select id="fieldId" name="fieldId">
            <option th:each="field: ${fields}" th:value="${field.id}" th:text="${field.name} "></option>
        </select>

        <button type="submit" class="btn btn-sm btn-success col-2 d-block mt-3">Save</button>
    </form>

    <hr>
    <a th:href="@{/specs/list}">Back to specializations list</a>
    <div th:replace="/fragments/footer.html :: footer"> </div>
</div>
</body>
</html>