<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Specialization form</title>
    <th:block th:insert="/fragments/header.html :: headerfiles"/>
</head>
<body>
<div class="container">
    <h3 class="mt-3">Specialization</h3>
    <hr>

    <p>Save Specialization</p>

    <form th:action="@{/specs/saveSpec}" th:object="${specialization}" method="POST">
        <input type="hidden" th:field="*{id}" class="form-control mb-4 col-4" placeholder="Name">
        <input id="name" type="hidden" th:field="*{specKind.id}" class="form-control mb-4 col-4" placeholder="Name">
        <div class="row justify-content-center align-items-center mx-2 mx-md-0">
            <p class="validationError col-12 text-center mb-0" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
            <label for="startDate" class="mb-1 mb-md-4 mx-2 col-12 col-md-2">Start date</label>
            <input id="startDate" type="date" th:field="*{startDate}" class="form-control mb-4 col-12 col-md-4">
        </div>
        <div class="row justify-content-center align-items-center mx-2 mx-md-0">
            <p class="validationError col-12 text-center mb-0" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
            <label for="endDate" class="mb-1 mb-md-4 mx-2 col-12 col-md-2">End date</label>
            <input id="endDate" type="date" th:field="*{endDate}" class="form-control mb-4 col-12 col-md-4">
        </div>
        <input type="hidden" th:field="*{specKind.fieldOfStudy.name}" class="form-control mb-4 col-4" placeholder="Field Of Study">
        <div class="row justify-content-center">
            <button type="submit" class="save-button btn btn-success col-3 col-md-2">Save</button>
        </div>
    </form>

    <hr>
    <a th:href="@{/specs/list}">Back to specializations list</a>
    <div th:replace="/fragments/footer.html :: footer"> </div>
</div>
</body>
</html>