<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject detail</title>
    <th:block th:insert="fragments/header.html::headerfiles"/>
</head>
<body>
<div class="container">
    <h3 class="mt-3">Subject detail</h3>
    <hr>

    <p>Save Subject</p>

    <form action="#" th:action="@{/grades/saveDetail}" th:object="${subject}" method="POST">
        <input type="hidden" th:field="*{id}" class="form-control mb-4 col-4" placeholder="First name"/>
        <div class="row justify-content-center align-items-center mx-2 mx-md-0">
            <label for="status" class="mb-1 mb-md-4 mx-2 col-12 col-md-2">Grade</label>
            <select class="form-control mb-4 col-12 col-md-4" id="status" name="status" th:field="*{grade}">
                <option th:each="grade: ${grades}" th:text="${grade.getDisplayValue()}" th:value="${grade}"></option>
            </select>
        </div>
        <input type="hidden" th:field="*{subject}">
        <input type="hidden" th:field="*{session}">
        <div class="row justify-content-center">
            <button type="submit" class="save-button btn btn-success col-3 col-md-2">Save</button>
        </div>
    </form>

    <hr>
    <a th:href="@{/grades/showSessionDetails(sessionId=${subject.session.id})}">Back to Details List</a>

</div>


</body>
</html>